
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h3>Tablo</h3>
<table class=" table table-hover">
    <tr bgcolor="pink">
        <th>ID</th>
        <th>ADI</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
    </tr>

</table>
<button class="btn btn-group-justified">Yeni kategori</button>
<button class="btn btn-toolbar">Yeni kategori</button>
<button class="btn btn-sm">Yeni kategori</button>
<button class="btn btn-outline">Yeni kategori</button>

